/1200x630wa.png
/14.04.2024_23.26.22_REC.mp4
/14.04.2024_23.27.47_REC.mp4
/14.04.2024_23.48.06_REC.mp4
/1531756046-4933.avif
/18.04.2024_19.09.09_REC.mp4
/210010040.pdf
/500.Days.of.Summer.2009.720p.Vegamovies.NL.mkv
/5_16_2024, 3_25_53 PM - Screen - Untitled video.webm
/5_16_2024, 3_25_53 PM - Webcam - Untitled video.webm
/5_16_2024, 3_54_24 PM - Screen - Untitled video.webm
/5_16_2024, 3_54_24 PM - Webcam - Untitled video.webm
/A5_210010041.py
/Aakash Jha_Dolat Capital_1pg.pdf
/AE-312 Shock Tube Experiment briefing files.rar
/AE_427_2023_2_Group_List (1).xlsx
/AE_427_2023_2_Group_List.xlsx
/Apping Contacts.xlsx
/Apping DB - Sheet1 (1).csv
/Application Form.pdf
/Assignment 1.pdf
/basic-probability.pdf
/basic.ics
/brochure.pdf
/CC Groundwork_Rohit Ghosh_04.05.2024.pptx
/CC interview revision.pdf
/chardet-5.2.0.tar.gz
/Copy of Dragon's Den.pdf
/Delivery report
/Demo File-Mayank Ghritlahre-Multi Gas Detector.docx
/desktop.ini
/download.png
/Draft solution of Tutorial6 (1).pdf
/Draft solution of Tutorial6.pdf
/EMPOLYEE BACKGROUND VERIFICATION FORM (3) (1).docx
/EMPOLYEE BACKGROUND VERIFICATION FORM (3) (1).pdf
/EpicInstaller-15.17.1.msi
/Exam Exp. Details and Viva 2 Time Table  (1).pdf
/Exam Exp. Details and Viva 2 Time Table .pdf
/Exofly ppt.pptx.pdf
/Exo_Sub_Final.zip
/file.png
/FInCoF 2024 Sample Resume-20240514T045908Z-001.zip
/FreeCAD-0.21.2-WIN-x64-installer-1.exe
/Fusion Client Downloader.exe
/GIRJE.docx
/Git-2.46.0-64-bit.exe
/glossary.pptx
/group16.pdf
/GyroscopicEffect (1).pdf
/GyroscopicEffect.pdf
/Helicopter aerodynamics.pdf
/Hostel allocation 2024-25.pdf
/IMG-20240419-WA0002.jpg
/IMG-20240419-WA0003.jpg
/IMG-20240419-WA0004.jpg
/IMG-20240419-WA0005.jpg
/IMG-20240419-WA0006.jpg
/IMG-20240421-WA0002.jpg
/IMG-20240421-WA0003.jpg
/IMG-20240421-WA0004.jpg
/IMG-20240421-WA0005.jpg
/IMG-20240421-WA0006.jpg
/Indian_Institute_of_Technology_Bombay_Logo.svg.png
/Intern Apping  - 07-05-24.csv
/Intern Apping  - 48 vali sheet.csv
/Intern Apping  - Sheet3.csv
/Intern Apping  - Sheet4.csv
/Intern Apping  - Sheet5.csv
/Intern Apping  - Sheet6.csv
/Intern Apping  - Sheet7.csv
/Internship_certification__(6)-transformed.png
/kalam labs submission - Made with Clipchamp.mp4
/Kiranprava Maharana_Air India_1pg.pdf
/Kung.Fu.Panda.4.2024.1080p.WEB-DL.Hindi.English.ESubs.Vegamovies.To.mkv
/LA201 EndSem Marks.xlsx
/Letter.pdf
/LOR MAYANK.pdf
/LOR SAMPLE.docx (1).pdf
/Marfil Tiles vs Grafiti India Private Limited.pdf
/MathWorks
/Mayank Ghritlahre,210010040 (1).pdf
/Mayank Ghritlahre,210010040.pdf
/mayank_resume_2pg_6th_sem__external___Copy_ (1).pdf
/mayank_resume_2pg_6th_sem__external___Copy_.pdf
/ME316T3.pdf
/ME316T5 (1).pdf
/ME316T5 (2).pdf
/ME316T5 (3).pdf
/ME316T5 (4).pdf
/ME316T5.pdf
/ME316T6 (1).pdf
/ME316T6 (2).pdf
/ME316T6 (3).pdf
/ME316T6 (4).pdf
/ME316T6.pdf
/mom (1).pdf
/mom (2).pdf
/mom (3).pdf
/mom.pdf
/movies.csv
/Mrunal Lalwani_EXL Service _1pg.pdf
/Mrunal Lalwani_EXL Service _2pg.pdf
/MS Word resume template.docx
/mysql-8.4.0-winx64.msi
/mysql-installer-community-8.0.37.0.msi
/mysql-workbench-community-8.0.36-winx64.msi
/My_Overall_Apping_DB - Sheet1.csv
/netflix-movie-recommendation.ipynb
/New Text Document.txt
/new.pdf
/OBS-Studio-30.1.2-Full-Installer-x64.exe
/OperaGXSetup.exe
/overall db - Sheet1.csv
/overall db - Sheet10.csv
/overall db - Sheet11.csv
/overall db - Sheet12.csv
/overall db - Sheet13 (1).csv
/overall db - Sheet14.csv
/overall db - Sheet15.csv
/overall db - Sheet16.csv
/overall db - Sheet17.csv
/overall db - Sheet18.csv
/overall db - Sheet2.csv
/overall db - Sheet3.csv
/overall db - Sheet4.csv
/overall db - Sheet5.csv
/overall db - Sheet6.csv
/overall db - Sheet7.csv
/overall db - Sheet8.csv
/overall db - Sheet9.csv
/param_weight.ipynb
/plots
/plots_305
/Poornima Dongre_1pg.pdf
/Postman-win64-Setup.exe
/Prototyping presentation.pdf
/pw-free-online.exe
/q2pay (2).pdf
/Questionnaire.docx
/Questionnaire_response.docx
/Quiz 3 (1).pdf
/Quiz 3.pdf
/Quiz 4 solution (1).pdf
/Quiz 4 solution.pdf
/quiz1_soln.pdf
/quiz_2_solutions.pdf
/Remove background project.png
/Report.pdf
/reportlab-4.2.0.tar.gz
/result7.jpg
/Saieesh Jirwankar_1pg.pdf
/ScreenRec_webinstall_all.exe
/SEEPANA VENKATA SAI SIDDARTHA_Meesho_2pg.pdf
/Shrey Gupta_Axtria_1pg.pdf
/SIGNED_EMPOLYEE BACKGROUND VERIFICATION FORM (3) (1)(2).pdf
/signed_offer_letter.pdf
/sop (1).pdf
/SSC.pdf
/student-placement-policy (1).pdf
/student-placement-policy.pdf
/Tata Capital Assignment.pdf
/Telegram Desktop
/tut 6 me.pdf
/Tut2_solutions.pdf
/Tutorial 6.1 Undamped Systems, Phase Portraits, Beats, Unforced Damped Systems.pdf
/Tutorial 6.2 Harmonically Excited Systems, Beats, Laplace Transforms.pdf
/Tutorial 6.3 Forced Vibrations - Periodic and General Forcing Conditions.pdf
/UAS.pdf
/UAS_Final_Submission.pdf
/Unconfirmed 483348.crdownload
/Unconfirmed 619317.crdownload
/Untitled document (1).pdf
/Untitled document (2).pdf
/Untitled document (3).pdf
/Untitled document.pdf
/Untitled presentation.pptx
/Utkarsh Gupta_Air India_2pg.pdf
/vc companydata - Sheet1.csv
/vc companydata - Sheet2.csv
/vc companydata - Sheet5.csv
/wepik-exploring-the-dynamics-of-unsteady-wave-motion-in-a-shock-tube-20240414201305Im6n.pdf
/WhatsApp Image 2024-04-02 at 05.17.58_c37d4078.jpg
/WhatsApp Image 2024-04-20 at 17.45.47_1e770a6d.jpg
/WhatsApp Image 2024-06-03 at 19.06.41_a5270277.jpg
/WhatsApp Image 2024-06-03 at 19.25.11_fa25b458.jpg
/WhatsApp Image 2024-06-03 at 19.25.22_c5b3e3ae.jpg
/WhatsApp Image 2024-06-03 at 19.25.23_f233d295.jpg
/WhatsApp Image 2024-06-03 at 19.25.24_5eebbdb2.jpg
/WhatsApp Image 2024-07-18 at 17.03.23_0546d2a7.jpg
/WhatsApp Video 2024-04-14 at 22.42.57_ecf6f360.mp4
/WhatsApp Video 2024-05-16 at 13.31.53_b8c39e0c.mp4
/WhatsApp Video 2024-05-16 at 13.32.17_d5395d4b.mp4
/_AE 312 - Exp_ cylinder (1).pdf
/_AE 312 - Exp_ cylinder.pdf
/_AE 316 - Exp_ Hybrid Rocket (1).pdf